<?xml version="1.0" encoding="UTF-8"?>


<suite name="ecommerce">

    <!-- Listener -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <!-- Chrome Tests -->
    <test name="Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddCartTest"/>
            <class name="tests.MultipleAddCartTest"/>
            <class name="tests.RemoveCartTest"/>
            <class name="tests.ContinueShoppingTest"/>
            <class name="tests.ViewCartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.CheckoutOverviewTest"/>
            <class name="tests.BackHomeTest"/>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>

</suite>